<div class="container-fluid" style="text-align:center">
    <h1 >
        {{ title }} 
    </h1>
    <h5>
           We Help You Streamline ! 
    </h5>
</div>
<div class="container mx-auto border border-primary" style="width: 500px;">
    <nav class="navbar navbar-default">
        <a  class="nav-item nav-link active" routerLink="/salessidemenu">Sales</a>
        <a  class="nav-item nav-link" routerLink="/expense">Expense</a>
        <a  class="nav-item nav-link" routerLink="/invoice">Invoice</a>
        <a  class="nav-item nav-link" routerLink="/report">Reports</a>
        <a  class="nav-item nav-link" routerLink="/admin">Admin</a>
    </nav>
</div>
<router-outlet></router-outlet>




     


